<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="../images/vue.png">
    <title>Vue-Condition</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <h1 v-if="awesome">Vue is awesome!</h1>
    <h1 v-else>Oh no 😢</h1>
    
    <div id="app">
        <template v-if="loginType === 'username'">
            <label>Username</label>
            <input placeholder="Enter your username">
            </template>
            <template v-else>
            <label>Email</label>
            <input placeholder="Enter your email address">
        </template>

        <template v-if="loginType === 'username'">
            <label>Username</label>
            <input placeholder="Enter your username" key="username-input">
            </template>
            <template v-else>
            <label>Email</label>
            <input placeholder="Enter your email address" key="email-input">
        </template>

        <button @click="switchType">切换</button>
    </div>
</body>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            loginType: 'username'
        },
        methods: {
            switchType: function () {
                this.loginType = '';
            }
        }
    });
</script>
</html>