<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="../images/vue.png">
    <title>Vue-Form</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="example-1">
        <input v-model="text" placeholder="edit me">
        <p>Message is: {{ text }}</p>

        <span>Multiline message is:</span>
        <p style="white-space: pre-line;">{{ textarea }}</p>
        <br>
        <textarea v-model="textarea" placeholder="add multiple lines"></textarea>

        <input type="checkbox" id="checkbox" v-model="checked">
        <label for="checkbox">{{ checked }}</label>
    </div>

    <div id='example-2'>
        <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
        <label for="jack">Jack</label>
        <input type="checkbox" id="john" value="John" v-model="checkedNames">
        <label for="john">John</label>
        <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
        <label for="mike">Mike</label>
        <br>
        <span>Checked names: {{ checkedNames }}</span>
    </div>

    <div id="example-3">
        <input type="radio" id="one" value="One" v-model="picked">
        <label for="one">One</label>
        <br>
        <input type="radio" id="two" value="Two" v-model="picked">
        <label for="two">Two</label>
        <br>
        <span>Picked: {{ picked }}</span>
    </div>

    <div id="example-4">
        <select v-model="selected">
            <option disabled value="">请选择</option>
            <option>A</option>
            <option>B</option>
            <option>C</option>
        </select>
        <span>Selected: {{ selected }}</span>
    </div>

    <div id="example-5">
        <select v-model="selected" multiple style="width: 50px;">
                <option>A</option>
                <option>B</option>
                <option>C</option>
            </select>
            <br>
            <span>Selected: {{ selected }}</span>
        </div>
        
    <div id="example-6">
        <select v-model="selected">
            <option v-for="option in options" v-bind:value="option.value">
                {{ option.text }}
            </option>
        </select>
        <span>Selected: {{ selected }}</span>
    </div>

    <div id="example-7">
        <!-- 在“change”时而非“input”时更新 -->
        <input v-model.lazy="lazy" >
        <input v-model.number="age" type="number" v-on:blur="alertMsg">
        <input v-model.trim="trim" v-on:blur="alertMsg">
    </div>
</body>
<script>
    new Vue({
        el: '#example-1',
        data: {
            text: '输入框',
            textarea: '文本域',
            checked: true
        }
    });

    new Vue({
        el: '#example-2',
        data: {
            checkedNames: []
        }
    });

    new Vue({
        el: '#example-3',
        data: {
            picked: 'Two'
        }
    });

    new Vue({
        el: '#example-4',
        data: {
            selected: ''
        }
    });

    new Vue({
        el: '#example-5',
        data: {
            selected: []
        }
    });

    new Vue({
        el: '#example-6',
        data: {
            selected: 'A',
            options: [
                { text: 'One', value: 'A' },
                { text: 'Two', value: 'B' },
                { text: 'Three', value: 'C' }
            ]
        }
    });

    new Vue({
        el: '#example-7',
        data: {
            lazy: 'lazy',
            age: 10,
            trim: '去空格'
        },
        methods: {
            alertMsg: function (event) {
                alert('O' + event.target.value + 'K');
            }
        }
    });
</script>
</html>